<p>
  <strong>Title:</strong>
  <% if @item.source_metadata.title != [] %>
    <%= @item.source_metadata.title[0] %>
  <% else %>
    <%= @item.native_metadata.title[0] %>
  <% end %>
</p>


<%= link_to 'Edit', edit_nyucore_path(@item) %> |
<%= link_to 'Back', nyucores_path %>
