---
http_interactions:
- request:
    method: post
    uri: https://logindev.library.nyu.edu/pds
    body:
      encoding: US-ASCII
      string: func=get-attribute&attribute=bor_info&calling_system=hydra&pds_handle=FDA_Cataloger
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><bor-info><id>N12345678</id><exl_id>N12345678</exl_id><nyuidn>N12345678</nyuidn><barcode>0000000000000</barcode><bor-status>51</bor-status><expiry-date>20141031</expiry-date><name>John</name><uid>jsXX</uid><email>jsXX@nyu.edu</email><email_address>jsXX@nyu.edu</email_address><institute>NYU</institute><cn>John
        Sebastian</cn><givenname>John</givenname><sn>Sebastian</sn><verification>6axxxxxxxxxxxxxx</verification><opensso>true</opensso><nyu_shibboleth>true</nyu_shibboleth><entitlements>urn:mace:nyu.edu:entl:its:wikispriv;urn:mace:nyu.edu:entl:its:classes;urn:mace:nyu.edu:entl:its:qualtrics;urn:mace:nyu.edu:entl:lib:eresources;urn:mace:nyu.edu:entl:its:wikispub;urn:mace:nyu.edu:entl:its:lynda;urn:mace:nyu.edu:entl:lib:ideaexchange;urn:mace:nyu.edu:entl:its:files;urn:mace:incommon:entitlement:common:1</entitlements><edupersonentitlement><value>urn:mace:nyu.edu:entl:its:wikispriv</value><value>urn:mace:nyu.edu:entl:its:classes</value><value>urn:mace:nyu.edu:entl:its:qualtrics</value><value>urn:mace:nyu.edu:entl:lib:eresources</value><value>urn:mace:nyu.edu:entl:its:wikispub</value><value>urn:mace:nyu.edu:entl:its:lynda</value><value>urn:mace:nyu.edu:entl:lib:ideaexchange</value><value>urn:mace:nyu.edu:entl:its:files</value><value>urn:mace:incommon:entitlement:common:1</value></edupersonentitlement><ill-permission>Y</ill-permission><college_name>LI</college_name><dept_code>NYU
        Division of Libraries</dept_code><dept_name>01</dept_name><major_code>DIVISION
        OF LIBRARIES</major_code><major>31300</major></bor-info>
  recorded_at: Thu, 15 May 2014 18:24:52 GMT
[...]
