@import "nyulibraries";
@import "blacklight";

body {
  padding-top: 0;
}

.toggle_bookmark { margin-top: 2px !important; }

.page_links { line-height: 20px; }

.record-help { margin-bottom: 10px; }

.field_with_errors {
  input {
    @extend .alert;
    @extend .alert-danger;
  }
  label {
    color: #B94A48;
    font-weight:bold;
  }
}

.constraint {
  * { text-indent: 0; }
  .filterValue {
    span { margin: 0px 4px; }
    .label {
      color: white !important;
    }
  }
}

.pagination, .nyu-pagination {
  text-align: left;
}

input[type='file'] {
  line-height: 12px;
}

form label {margin-left:0;}
form div.source {
  margin-bottom: .25em;
  color: gray;
}

// Override blacklight styles because our search box is not in a navbar
#q {
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  height: 2.5em;
}
#search {
  margin-bottom: 1.5em;
}
// Hide "Search" text on phones
.submit-search-text {
  @media screen and (max-width: $screen-xs-min ) {
    display: none;
  }
}
.search-query-form {
  .input-group-addon { display: none !important; }
}
button.search-btn {
  height: 2.5em;
  border-bottom-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
}
.btn.btn-primary {
  background-color: $nyu-purple !important;
  border-color: $nyu-purple !important;
}
