<%= sidebar_section("user_util_links", content_tag(:h2, "My Workspace")) do %>
  <ul>
      <li><%= link_to t('blacklight.header_links.bookmarks'), bookmarks_path %></li>
  <% if current_user %>
      <li><%= link_to t('blacklight.header_links.saved_searches'), saved_searches_path %></li>
  <% end %>
      <li><%= link_to t('blacklight.header_links.search_history'), search_history_path %></li>
  </ul>
<% end %>
