---
http_interactions:
- request:
    method: get
    uri: https://archive-it.org/collections/4049.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"sortFields":["f_sort_title.asc","f_sort_title.desc","f_url.asc","f_url.desc"],"results":{"sort":"f_url.asc","waybackUrl":"https://wayback.archive-it.org","totalResultCount":144,"breadcrumbs":[{"name":"Explore","path":"/explore"},{"name":"New
        York University","path":"/organizations/567"},{"name":"New York University
        Archive of Contemporary Composers'' Websites","path":"/collections/4049"}],"waybackAccessPoint":"4049","rootEntity":{"metadata":{"meta_Subject":["artsAndHumanities"]},"entityDef":"Collection","organizationName":"New
        York University","collectionId":4049,"entityPath":"/collections/4049","organizationId":567,"created_dt":1382727257000,"collectionPath":"/collections/4049","organizationPath":"/organizations/567","typeKey":"collection","uid":"C-4049","description":"","name":"New
        York University Archive of Contemporary Composers'' Websites","id":4049},"activeTab":{"active":true,"numResults":144,"entityDef":"CuratedPage","url":"?show=Sites","name":"Sites","type":"Sites"},"searchedFacets":[{"numResults":1,"results":[{"count":1,"constrained":false,"addFacetURL":"?fc=meta_Creator%3ASiegel%2C+Aaron.","name":"Siegel,
        Aaron."}],"toggleAlphaURL":"?falpha=f_meta_Creator%3Atrue","hasMore":false,"alpha":false,"id":"meta_Creator"}],"tabs":[{"active":true,"numResults":144,"entityDef":"CuratedPage","url":"?show=Sites","name":"Sites","type":"Sites"},{"active":false,"numResults":0,"entityDef":"ArchivedPage","url":"?show=ArchivedPages","name":"ArchivedPages","type":"ArchivedPages"}],"errorStatus":"","success":true,"displayed":100,"numPages":2,"nextPageURL":"?page=2&totalResultCount=144","rootEntityType":"collection","pagingBaseUrl":"?","sortingBaseUrl":"?totalResultCount=144","resultsUrl":"?","constrainedFacets":[],"entities":[{"entityDef":"CuratedPage","organizationName":"New
        York University","allURL":"https://wayback.archive-it.org/4049/*/http://LouisKarchin.com/","numVideos":0,"isSeed":true,"seedVideosUrl":"?q=http%3A%2F%2FLouisKarchin.com%2F&show=SeedVideos&fc=seedId%3A627201","collectionName":"New
        York University Archive of Contemporary Composers'' Websites","numCaptures":0,"canonicalUrl":"http://LouisKarchin.com/","waybackAccessPoint":"4049","waybackCalendar":"https://wayback.archive-it.org/4049/*/http://LouisKarchin.com/","firstCapture":{"waybackUrl":"https://wayback.archive-it.org/4049/19000101000000/http://LouisKarchin.com/","formattedDate":"Jan
        01, 1900","date":-2208988800000},"lastCapture":{"waybackUrl":"https://wayback.archive-it.org/4049/19000101000000/http://LouisKarchin.com/","formattedDate":"Jan
        01, 1900","date":-2208988800000},"collectionId":4049,"entityPath":"/curated/627201","organizationId":567,"created_dt":1391036320000,"collectionPath":"/collections/4049","organizationPath":"/organizations/567","hilitedUrl":"http://LouisKarchin.com/","typeKey":"curatedpage","url":"http://LouisKarchin.com/","uid":"S-627201","description":"","id":627201},{"entityDef":"CuratedPage","organizationName":"New
        York University","allURL":"https://wayback.archive-it.org/4049/*/http://MrJoeIconis.com/","numVideos":0,"isSeed":true,"seedVideosUrl":"?q=http%3A%2F%2FMrJoeIconis.com%2F&show=SeedVideos&fc=seedId%3A627203","collectionName":"New
        York University Archive of Contemporary Composers'' Websites","numCaptures[...]
- request:
    method: get
    uri: https://archive-it.org/collections/4049.json?page=2&totalResultCount=144
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"sortFields":["f_sort_title.asc","f_sort_title.desc","f_url.asc","f_url.desc"],"results":{"sort":"f_url.asc","[...]
