---
http_interactions:
- request:
    method: get
    uri: https://specialcollections.library.nyu.edu/search/catalog.json?f%5Bsubject_sim%5D%5B0%5D=International%20relations
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8892ba7674a9d775ba7c9c5e0dbe8006"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"docs":[],"facets":[{"items":[],"name":"repository_sim","label":"Library"},{"items":[],"name":"dao_sim","label":"Digital
        Content"},{"items":[],"name":"creator_sim","label":"Creator"},{"items":[],"name":"date_range_sim","label":"Date
        Range"},{"items":[],"name":"subject_sim","label":"Subject"},{"items":[],"name":"name_sim","label":"Name"},{"items":[],"name":"place_sim","label":"Place"},{"items":[],"name":"language_sim","label":"Language"},{"items":[],"name":"collection_sim","label":"Collection"},{"items":[],"name":"format_sim","label":"Level"}],"pages":{"current_page":1,"next_page":null,"prev_page":null,"total_pages":0,"limit_value":10,"offset_value":0,"total_count":0,"first_page?":true,"last_page?":true}}}'
  recorded_at: Mon, 07 Dec 2015 21:13:26 GMT
- request:
    method: get
    uri: https://specialcollections.library.nyu.edu/search/catalog.json?f%5Bcollection_sim%5D%5B0%5D=David%20Wojnarowicz%20Papers&f%5Bdao_sim%5D%5B0%5D=Online%20Access&f%5Bformat_sim%5D%5B0%5D=Archival%20Object
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"41740c694aae9a9ea9cb83676aad1165"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"docs":[{"id":"wojref12","ead_ssi":"woj","parent_ssi":"ref11","parent_ssm":["ref11"],"parent_unittitles_ssm":["Series
        I: Journals"],"component_level_isim":[2],"component_children_bsi":false,"collection_ssm":["David
        Wojnarowicz Papers"],"collection_unitid_ssm":["MSS 092"],"unittitle_ssm":["1971:
        Aug.- Sept."],"dao_ssm":["1971: Aug. -Sept., 1971 "],"ref_ssi":"ref12","repository_ssi":"fales","repository_ssm":["fales"],"format_ssm":["Archival
        Object"],"location_ssm":["Box: 1, Folder: 1"],"heading_ssm":["1971: Aug.-
        Sept."],"unitdate_ssm":["1971"],"_version_":1515907807398854656,"timestamp":"2015-10-24T10:25:41.955Z"},{"id":"wojref13","ead_ssi":"woj","parent_ssi":"ref11","parent_ssm":["ref11"],"parent_unittitles_ssm":["Series
        I: Journals"],"component_level_isim":[2],"component_children_bsi":false,"collection_ssm":["David
        Wojnarowicz Papers"],"collection_unitid_ssm":["MSS 092"],"unittitle_ssm":["1976"],"dao_ssm":["1976,
        1976 "],"ref_ssi":"ref13","repository_ssi":"fales","repository_ssm":["fales"],"format_ssm":["Archival
        Object"],"location_ssm":["Box: [...]
- request:
    method: get
    uri: https://specialcollections.library.nyu.edu/search/catalog.json?f%5Bcollection_sim%5D%5B0%5D=David%20Wojnarowicz%20Papers&f%5Bdao_sim%5D%5B0%5D=Online%20Access&f%5Bformat_sim%5D%5B0%5D=Archival%20Object&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"4b7b54d62ac4afb384a49f61281e9cec"'
      Status:
      - 200 OK
      Content-Type:
      - appli[...]
[...]
- request:
    method: get
    uri: https://specialcollections.library.nyu.edu/search/catalog.json?f%5Bcollection_sim%5D%5B0%5D=David%20Wojnarowicz%20Papers&f%5Bdao_sim%5D%5B0%5D=Online%20Access&f%5Bformat_sim%5D%5B0%5D=Archival%20Object&page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"f707cf8cdc584f4d6bf66c37cb0d2106"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"docs":[{"id":"wojref3910","ead_ssi":"woj","parent_ssi":"ref3901","parent_ssm":["ref3091","ref3901"],"parent_unittitles_ssm":["Series
        XIII: Objects and Artifacts","Subseries B: The \"Magic Box\""],"component_level_isim":[3],"component_children_bsi":false,"collection_ssm":["David
        Wojnarowicz Papers"],"collection_unitid_ssm":["MSS 092"],"unittitle_ssm":["Cloth
        Snake"],"unitid_ssm":["092.2.0545"],"dao_ssm":["Cloth Snake, undated ","Cloth
        Snake, undated "],"ref_ssi":"ref3910","repository_ssi":"fales","repository_ssm":["fales"],"format_ssm":["Archival
        Object"],"location_ssm":["Box: \n, Folder: 092.2.0545"],"heading_ssm":["Cloth
        Snake"],"unitdate_ssm":["undated"],"_version_":1515908452216471552,"timestamp":"2015-10-24T10:35:56.902Z"},{"id":"wojref3914","ead_ssi":"woj","parent_ssi":"ref3901","parent_ssm":["ref3091","ref3901"],"parent_unittitles_ssm":["S[...]
[...]
